.parent-container {
  position: relative;
}
.icons {
  display: flex;
  align-items: center;
  width: 40px;
  justify-content: space-around;
  position: absolute;
  top: 15px;
  left: 424px;
}

#inputValue {
  width: 475px;
  height: 40px;
  background: #ebeaef;
  border-radius: 10px;
  margin-bottom: 17px;
}

.unitField {
  width: 475px;
  height: 580px;
  background: #ebeaef;
  border-radius: 10px;
  padding-top: 32px;
  padding-left: 31px;
}
.content {
  display: flex;
  flex-direction: column;
}
.single-unit {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
  color: #30475e;
}
.container-single-unit{
  width:100%
}
.container-single-unit:hover {
  background: linear-gradient(0deg, #b9b9bc, #b9b9bc), #b9b9bc;
  cursor: pointer;
  width:1000px
}
