.parent-container {
  position: relative;
}
.icons {
  display: flex;
  align-items: center;
  width: 40px;
  justify-content: space-around;
  position: absolute;
  top: 15px;
  left: 424px;
}
#inputValue {
  width: 475px;
  height: 40px;
  background: #ebeaef;
  border-radius: 10px;
  margin-bottom: 17px;
  padding-left: 17px;
}

.unitField {
  width: 465px;
  height: 580px;
  background: #ebeaef;
  border-radius: 10px;
  padding-top: 32px;
  padding-left: 31px;
  overflow-y: scroll;
  padding-top: 0px;
  overscroll-behavior-y: initial;
}
div::-webkit-scrollbar {
  width: 8px;
  background-color: #ebeaef;
}
div::-webkit-scrollbar-thumb {
  background-color: #b9b9bc;
  border-radius: 20px;
  width: 10px;
}

.content {
  display: flex;
  flex-direction: column;
}

.container-single-unit {
  font-weight: 400;
  font-size: 18px;
  line-height: 21.09px;
  color: #30475e;
  margin-left: -30px;
  height: 35px;
}
.container-single-unit:hover {
  background: linear-gradient(0deg, #b9b9bc, #b9b9bc);
  cursor: pointer;
}

.icon-input:hover {
  cursor: pointer;
}
.single-unit {
  margin-left: 15px;
  padding-top: 6px;
}
